# Servidor
PORT=3000

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=users_roles_db

# JWT
JWT_SECRET=mi_super_secreto_jwt_cambiar_en_produccion
JWT_EXPIRES_IN=120s
